<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pronko\AuthorizenetVisa\Api\PaymentInformationManagementInterface" type="Pronko\AuthorizenetVisa\Service\PaymentInformationManagement"/>
    <type name="Pronko\AuthorizenetVisa\Service\PaymentInformationManagement">
        <arguments>
            <argument name="commandPool" xsi:type="object">PronkoAuthorizenetCommandPool</argument>
        </arguments>
    </type>
</config>
